<%#= javascript_include_tag 'contact'%>

<div class="section">
  <div class="header">
    <div class="layout">
      <div class="inner_layout">
        <div class="left">
          <h2>CONTACTO</h2>
          <h5></h5>
        </div>
        <div class="right">
          <h3>En este momento somos un equipo. Empecemos a trabajar. Brainstorming, ¿empiezas tú?</h3>

        </div>
      </div> <!-- inner_layout -->
    </div> <!-- layout -->
  </div>
  
  <div class="layout">
    <div class="inner_layout">
      
      <div class="content">
        <div class="section">
          <div class="hgroup">
            <ul class="social">
              <li>
                <%= link_to('', 'http://www.twitter.com/vavilop', :class=>'twitter') %>  
              </li>                                                     
              <li>
                <%= link_to('', 'mailto:vavilop@yahoo.es', :class=>'mail') %>  
              </li>                                                     
              <li>
                <%= link_to('', 'http://www.linkedin.com/in/vanessaviaji', :class=>'linkedin') %>  
              </li>                                                     
              <li>
                <%= link_to('', 'http://www.flickr.com/photos/vavilop', :class=>'flickr') %>  
              </li>                                                     
              <li class="last">
                <%= link_to('', 'http://vavilop.tumblr.com/', :class=>'tumblr') %>  
              </li>                                                     
              
            </ul>
          </div>
        </div>
      </div> <!-- content -->
      
    </div> <!-- inner_layout -->
  </div> <!-- layout -->
  
</div>
