<%= stylesheet_link_tag 'plugins/jquery.fancybox-1.3.4' %>
<%= javascript_include_tag 'plugins/jquery.fancybox-1.3.4','portfolio'%>

<section>
  <header>
    <div class="layout">
      <div class="inner_layout">
        <div class="left">
          <h2>PORTFOLIO MIAMI AD SCHOOL</h2>
          <h5>Algunos de los casos realizados en el BOOTCAMP durante el año 2011</h5>
        </div>
        <div class="right">
          <h3>Con cada decisión que tomamos en nuestra vida, estamos construyendo nuestra propia estrategia</h3>
        </div>
      </div> <!-- inner_layout -->
    </div> <!-- layout -->
  </header>
  
  <div class="layout">
    <div class="inner_layout">
      <div class="content">
        
        
        <ul class="works">
          <li id="presentation_1" class="fade boxgrid captionfull shadow">
            <%= image_tag "portfolio/logo-eon.jpg", :alt => 'Logo Eon' %>
            <div class="cover boxcaption">  
                <h3>e·on</h3>  
                <p>Campaña para UK</p>
                <p class="target">Target: "Generación Y"</p>  
                <p>Campaña digital</p>  
                <a>ver el caso completo</a>
                
            </div>
          </li>
          <li id="presentation_2" class="fade boxgrid captionfull shadow">
            <%= image_tag "portfolio/logo-bottega.jpg", :alt => 'Logo Bottega Verde' %>
            <div class="cover boxcaption">  
                <h3>Bottega Verde</h3>  
                <p>Campaña para España</p>
                <p class="target">Target: Mujeres a las que les gusta cuidarse</p>  
                <p>Campaña digital</p>  
                <a>ver el caso completo</a>
            </div>
            
          </li>
          <li id="presentation_3" class="fade last boxgrid captionfull shadow">
            <%= image_tag "portfolio/logo-popcorn.jpg", :alt => 'Logo de Popcorn Indiana' %>
            <div class="cover boxcaption">  
                <h3>Popcorn Indiana</h3>  
                <p>Campaña para EEUU</p>
                <p class="target">Target: Amantes de las palomitas</p>  
                <p>Campaña digital y Sampling</p>  
                <a>ver el caso completo</a>
            </div>
            
          </li>
        </ul>
      </div> <!-- content -->
      
    </div> <!-- inner_layout -->
  </div> <!-- layout -->

  <!-- Presentations -->
  
  <div class="presentation_content">
    
    <!-- presentation 1 -->
		<div id="presentation_content_1" class="presentation" style="width:638px;height:560px;">
		  <div class="presentation">
        <object id="__sse7338689" width="595" height="497"> <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=eon-110321163024-phpapp02&stripped_title=eon-7338689&userName=vavilop" /> <param name="allowFullScreen" value="true"/> <param name="allowScriptAccess" value="always"/> <embed name="__sse7338689" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=eon-110321163024-phpapp02&stripped_title=eon-7338689&userName=vavilop" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="595" height="497"></embed> </object>
      </div>
      <%= image_tag "common/bg-fullscreen.png", :alt => 'Ver en pantalla completa', :class=> 'view_fullscreen' %>
		</div>

		<!-- presentation 2 -->
		<div id="presentation_content_2" class="presentation" style="width:638px;height:560px;">
		  <div class="presentation">      
        <object id="__sse7338681" width="595" height="497"> <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=bottegaverdebook-110321162840-phpapp01&stripped_title=bottega-verde-7338681&userName=vavilop" /> <param name="allowFullScreen" value="true"/> <param name="allowScriptAccess" value="always"/> <embed name="__sse7338681" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=bottegaverdebook-110321162840-phpapp01&stripped_title=bottega-verde-7338681&userName=vavilop" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="595" height="497"></embed> </object>
      </div>
      <%= image_tag "common/bg-fullscreen.png", :alt => 'Ver en pantalla completa', :class=> 'view_fullscreen' %>
		</div>

		<!-- presentation 3 -->
		<div id="presentation_content_3" class="presentation" style="width:638px;height:560px;">
		  <div class="presentation">
       <object id="__sse7338631" width="595" height="497"> <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=popcornindianabook-110321162308-phpapp01&stripped_title=pop-corn-indiana&userName=vavilop" /> <param name="allowFullScreen" value="true"/> <param name="allowScriptAccess" value="always"/> <embed name="__sse7338631" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=popcornindianabook-110321162308-phpapp01&stripped_title=pop-corn-indiana&userName=vavilop" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="595" height="497"></embed> </object>
      </div>
      <%= image_tag "common/bg-fullscreen.png", :alt => 'Ver en pantalla completa', :class=> 'view_fullscreen' %>
		</div>
		
	</div> <!-- presentation_content -->
	
  
    
</section>
